!!! 5
html(lang="en")
  include head
  body
    h1
      a(href=docs) #{headline} 
    h2 #{subline}
    !{content}
    a(href=code)
      img(src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')
